* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60%;
}

.hero-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7A1E2B;
}

.container {
  background-color: #FAF7F2;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  display: flex;
}

.hero-text {
  width: 45%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  /* background-color: blue; */
  padding: 20px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  align-self: center;
  color: #2B2B2B;
  line-height: 4.25rem;
}

.hero-text p {
  color: #555555;
  font-size: 1.3rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 70%;
  margin-bottom: 20px;
  align-self: center;
}

.hero-text h3 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 30%;
  color: #7A1E2B;
  align-self: flex-start;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  
}

.hero-buttons button:first-child {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #C9A24D;
  color: #FFFFFF;
}

.hero-buttons button:nth-child(2) {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #C9A24D;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  color: #C9A24D;
  font-weight: bold;
}

.hero-buttons button:first-child:hover {
  background-color: #B08D3C;
  color: #FFFFFF;
}

.hero-buttons button:nth-child(2):hover {
  background-color: #C9A24D;
  color: #FFFFFF;
}

.hero-img {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 40px 0;
  }
  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .hero-text,
  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  .hero-text p {
    width: 90%;
    font-size: 1rem;
  }

  .hero-text h3 {
    width: 50%;
    font-size: 0.9rem;
  }
  .hero-buttons button:first-child{
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  .hero-buttons button:nth-child(2){
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

.second-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAF7F2;
  align-items: center;
}

.second-heading {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 50px;
  color: #2B2B2B;
}

.second-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
  height: 70%;
  width: 90%;
  /* background-color: red; */
  padding: 20px;
}

.second-cards {
  /* max-width: 250px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-cards:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.second-cards img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.second-cards h3 {
  margin-top: 15px;
  color: #2B2B2B;
  text-align: center;
  font-size: 1.2rem;
}

.second-cards p {
  margin-top: 10px;
  color: #555555;
  text-align: center;
  font-size: 1rem;
}

.second-cards button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #C9A24D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.second-cards button:hover {
  background-color: #B08D3C;
}

@media (max-width: 768px) {
  .second-section {
    height: auto;
  }

  .second-heading {
    font-size: 1.3rem;
    margin-top: 30px;
  }

  .second-container {
    grid-template-columns: repeat(1, 1fr);
    height: auto;

  }

  .second-cards {
    width: 100%;

  }


}

.third-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #7A1E2B;
}

.third-heading {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 50px;
  color: #FAF7F2;
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  /* background-color: blue; */
}

.third-right {
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-right a {
  font-size: 1.6rem;
  color: #FAF7F2;
  text-align: center;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: none;
}

.third-right a:hover {
  text-decoration: underline;
}

.third-left {
  background-color: #7A1E2B;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  gap: 0 20px;
  margin-top: 0px;
  /* background-color: blue; */
}

.third-card {
  border: 2px solid grey;
  max-width: 250px;
  background-color: #FAF7F2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.third-card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.third-right .third-img {
  width: 80%;
  height: auto;
}

.third-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.third-card h1 {
  /* margin-top: 15px; */
  color: #2B2B2B;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin: 0;
}

.third-card p {
  margin-top: 10px;
  color: #555555;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .third-section {
    height: auto;
  }

  .third-heading {
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .third-container {
    flex-direction: column;
    height: auto;
  }

  .third-left,
  .third-right {
    width: 100%;
    height: auto;
  }

  .third-left {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 10px;
    margin-top: 20px;
  }

  .third-card {
    max-width: 100%;
    margin-left: 0;
  }

  .third-right a {
    width: 90%;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}

.fourth-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAF7F2;
  align-items: center;
}

.fourth-heading {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 50px;
  color: #2B2B2B;
}

.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  gap: 20px;
  margin-top: 20px;
  /* background-color: blue; */
}

.fourth-left {
  width: 60%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fourth-left h1 {
  color: #7A1E2B;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.fourth-left p {
  color: #2B2B2B;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
  width: 80%;
}

.fourth-right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.fourth-right img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  /* border-radius: 15px; */
}
.fourth-bullet {
  width: auto;
  max-height: 200px;
  height: auto;
  background-color: #C9A24D;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin: 20px 10px;
  font-size: 1rem;
}
.fourth-bullet p {
  width: auto;
  margin: 0;
  font-size: 1.4rem;

  color: #2B2B2B;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .fourth-section {
    height: auto;
  }

  .fourth-heading {
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .fourth-container {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  .fourth-left,
  .fourth-right {
    width: 100%;
    height: auto;
  }

  .fourth-left h1 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .fourth-left p {
    font-size: 1.2rem;
    width: 90%;
    margin-top: 20px;
  }

  .fourth-right img {
    width: 100%;
    height: auto;
  }
  .fourth-bullet {
    max-height: auto;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    padding: 8px 12px;
  }
  .fourth-bullet p {
    font-size: 1rem;
    align-self: center;
  }
}
.fifth-section{
  width: 100%;
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  background-color: #7A1E2B;
  
}
/* CONTACT */
.contact,
.location {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact h1,
.location h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  color: #FAF7F2;
}

/* CONTACT CARD */
.contact-info {
  background-color: #ffefdb;
  padding: 40px;
  border-radius: 16px;
  width: 90%; 
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.contact-span {
  font-weight: 600;
}

.delivery {
  font-weight: 600;
}

/* BUTTON */
.contact-info button {
  margin-top: 10px;
  padding: 14px 24px;
  border-radius: 30px;
  background-color: #7A1E2B;
  border: 2px solid gold;
  color: #FAF7F2;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.contact-info button:hover {
  background-color: #1b9447;
}

/* MAP */
.map-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.map-container iframe {
  width: 100%;
  height: 350px;
  border-radius: 16px;
}

.address {
  color:#FAF7F2 ;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}
.flourish-divider_fifth {
  width: 100%;
  max-width: 400px;
  height: 10px;
  margin: auto;
  position: relative;
}

.flourish-divider_fifth::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background: linear-gradient(to right, transparent, #FAF7F2 20%, #FAF7F2 80%, transparent);
}

.flourish-divider_fifth svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #7A1E2B 0%, #7A1E2B 100%);
  border-radius: 50%;
}
/* MOBILE FIX */
@media (max-width: 768px) {
  .fifth-section {
    flex-direction: column;
    padding: 60px 0;
    /* background-color: red; */
  }

  .contact,
  .location {
    width: 100%;
    /* background-color: blue; */
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;

  }

  .contact h1,
  .location h1 {
    font-size: 36px;
  }

  .contact-info {
    padding: 24px;
    width: auto;
    margin: 0;
    gap: 5px;
  }

  .contact-info p {
    font-size: 18px;
  }

  .address {
    font-size: 16px;
  }
}

.footer {
  background-color: #FAF7F2;
  padding: 60px 10% 20px;
  font-family: inherit;
  color: #7A1E2B;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-brand h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.footer-brand p {
  max-width: 300px;
  font-size: 20px;
  line-height: 1.6;
  color: black;
}

.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.footer-links h3,
.footer-contact h3 {
  font-size: 25px;
  margin-bottom: 10px;
  
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact p {
  font-size: 18px;
  color: black;
}

.footer-whatsapp {
  cursor: pointer;
  margin-top: 10px;
  background-color: #7A1E2B;
  border: 2px solid gold;
  color: white;
  padding: 12px 14px;
  border-radius: 8px;
  text-decoration: none;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.7;
}

@media(max-width:768px) {
  .footer-brand p {
    font-size: 20px;
  }

  .footer-links h3,
  .footer-contact h3 {
    font-size: 24px;
  }

  .footer-links a,
  .footer-contact p {
    font-size: 19px;
  }

  .footer-whatsapp {
    padding: 14px 16px;
  }
}
